{{#each drink as |drink|}}

 <div class="display col-sm-12" data-id="{{drink.idDrink}}">

     <div class="row">
       <div class="col-sm-11"></div>
       <div class="col align-self-end"><a href="#" class="delete-button" data-id="{{drink._id}}"><span class="glyphicon glyphicon-remove"></span></a></div>
         <div class="col-sm-1">
         </div>
         <div class="col-sm-10">
         <img class="drink-img" src={{drink.strDrinkThumb}}>
       </div>
         <div class="col-sm-1">
         </div>
       <br>
     </div>
     <div class="row">
     <div class="col-sm-12">
       <p><span class="glyphicon glyphicon-cutlery"></span>  {{drink.strDrink}}</p>
     </div>
   </div>
     <hr>
     <div class="row">
       <div class="col-sm-1">
     </div>
     <div class="col-sm-11">
       <p><span class="glyphicon glyphicon-map-marker"></span>{{drink.strIngredient1}}</p>
     </div>
   </div>
   <hr>

   <button type="button" class="btn-primary mainCardButtons skipButton"> Skip! </button>
<button type="button" class="btn-primary mainCardButtons sipButton"> Sip! </button>

   </div>
</div>
{{/each}}
