{{#each drink as |drink|}}

 <div class="display col-sm-12" data-id="{{drink.idDrink}}">

     <div class="row">
       <div class="col-sm-12"></div>
       <div class="col align-self-end"><a href="#" class="delete-button" data-id="{{drink._id}}"></a></div>
         <div class="col-sm-1">
         </div>
         <div class="col-sm-10">
         <img class="drink-img" src={{drink.strDrinkThumb}}>
       </div>
         <div class="col-sm-1">
         </div>
       <br>
     </div>
     <div class="row">
      <div class="col-sm-1">
     <div class="col-sm-11">

     </div>
   </div>
     <hr>
     <div class="row">
       <div class="col-sm-1">
     </div>
     <div class="col-sm-11">
       <h3>Name: {{drink.strDrink}}</h3>
       <br>
       <h3>Main Ingredient: {{drink.strIngredient1}}</h3>
     </div>
   </div>
   <hr>

   <button type="button" class="mainCardButtons skipButton"> <h3 class="cardButtonText">Skip</h3> </button>
   <form class="handlebars-add-form">
  <input type="hidden" name="recipe[name]" value="{{drink.strDrink}}">
  <input type="hidden" name="recipe[alcoholic]" value="{{drink.strAlcoholic}}">
  <input type="hidden" name="recipe[img]" value="{{drink.strDrinkThumb}}">
  <input type="hidden" name="recipe[glass]" value="{{drink.strGlass}}">
  <input type="hidden" name="recipe[instructions]" value="{{drink.strInstructions}}">
  <input type="hidden" name="recipe[ingredient1]" value="{{drink.strMeasure1}} {{drink.strIngredient1}}">
  <input type="hidden" name="recipe[ingredient2]" value="{{drink.strMeasure2}} {{drink.strIngredient2}}">
  <input type="hidden" name="recipe[ingredient3]" value="{{drink.strMeasure3}} {{drink.strIngredient3}}">
  <input type="hidden" name="recipe[ingredient4]" value="{{drink.strMeasure4}} {{drink.strIngredient4}}">
  <input type="hidden" name="recipe[ingredient5]" value="{{drink.strMeasure5}} {{drink.strIngredient5}}">
  <input type="hidden" name="recipe[ingredient6]" value="{{drink.strMeasure6}} {{drink.strIngredient6}}">
  <input type="hidden" name="recipe[ingredient7]" value="{{drink.strMeasure7}} {{drink.strIngredient7}}">
  <input type="hidden" name="recipe[ingredient8]" value="{{drink.strMeasure8}} {{drink.strIngredient8}}">
  <input type="hidden" name="recipe[ingredient9]" value="{{drink.strMeasure9}} {{drink.strIngredient9}}">
  <input type="hidden" name="recipe[ingredient10]" value="{{drink.strMeasure10}} {{drink.strIngredient10}}">
  <input type="hidden" name="recipe[ingredient11]" value="{{drink.strMeasure11}} {{drink.strIngredient11}}">
  <input type="hidden" name="recipe[ingredient12]" value="{{drink.strMeasure12}} {{drink.strIngredient12}}">
  <input type="hidden" name="recipe[ingredient13]" value="{{drink.strMeasure13}} {{drink.strIngredient13}}">
  <input type="hidden" name="recipe[ingredient14]" value="{{drink.strMeasure14}} {{drink.strIngredient14}}">
  <input type="hidden" name="recipe[ingredient15]" value="{{drink.strMeasure15}} {{drink.strIngredient15}}">

  <button type="submit" class="mainCardButtons sipButton"><h3 class="cardButtonText">Sip</h3></button>
</form>

   </div>
</div>
{{/each}}
