{{#each recipe as |recipe|}}

  <div class="recipe-display col-sm-12" data-id="{{recipe.id}}">

    <img class="recipe-img" src= {{recipe.img}}>
    <div class="row">

            <div class="col-sm-6">        <h3>{{recipe.name}}</h3>
                <br>
                <h4>Ingredients:</h4>
                <h4>{{recipe.ingredient1}}</h4>
                  <h4>{{recipe.ingredient2}}</h4>
                  <h4>{{recipe.ingredient3}}</h4>
                    <h4>{{recipe.ingredient4}}</h4>
                    <h4>{{recipe.ingredient5}}</h4>
                      <h4>{{recipe.ingredient6}}</h4>
                      <h4>{{recipe.ingredient7}}</h4>
                        <h4>{{recipe.ingredient8}}</h4>
                        <h4>{{recipe.ingredient9}}</h4>
                          <h4>{{recipe.ingredient10}}</h4>

            </div>
      <div class="col-sm-1 delete-column">
        <div class="row">
        <div class="col-sm-10"> </div>
        <div class="col-sm-2">
        <a href="#" class="delete-button" data-id="{{recipe.id}}"><span class="glyphicon glyphicon-remove"></span></a>
</div>
      </div>
    </div>
    </div>
    <div class="recipe-card-indent">
    <h4>Instructions: {{recipe.instructions}}</h4>
    <form class="add-note-form" data-id="{{recipe.id}}">
      <p class="handlebars-display">
        </span>Notes: {{recipe.notes}}</p>
      <input class="handlebars-form-hider handlebars-form-hider-{{recipe.id}}" name="recipe[notes]" type="text" placeholder="{{recipe.notes}}">
      <button class="handlebars-update-button handlebars-display handlebars-display-{{recipe.id}}" data-id="{{recipe.id}}">Add Note</button>
      <button class="handlebars-submit-button handlebars-form-hider handlebars-form-hider-{{recipe.id}}" type="submit" data-id="{{recipe.id}}">Submit Note</button>
  </form>
</div>



  </div>
{{/each}}
